<h1 mat-dialog-title>Dodaj nowy sklep</h1>

<div class="">
  <div class="row">
    <div class="col-sm">
      <form (ngSubmit)="shopFormSubmit()" #shopForm="ngForm">
        <mat-label>Wybierz kategorię z listy</mat-label>
        <br>
        <mat-form-field>
          <mat-select name="shop" [(ngModel)]="shopCategory">
            <mat-option *ngFor="let shopType of shopTypesList" [value]="shopType">{{shopType.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>{{shopCategory.name}}</mat-label>
          <input type="email" matInput [formControl]="shopCategoryControll" placeholder="Ex. pat@example.com">
          <mat-error *ngIf="!shopCategoryControll.hasError('required')">
            Wstaw prawidłową nazwę produktu
          </mat-error>
        </mat-form-field>

        <br>
        <mat-form-field class="example-form-field">
          <mat-label>Nazwa sklepu</mat-label>
          <input matInput type="text" [(ngModel)]="shopNameDefaultValue">
          <button mat-button *ngIf="shopNameDefaultValue" matSuffix mat-icon-button aria-label="Clear"
                  (click)="shopNameDefaultValue=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <br>
        <div mat-dialog-actions>
          <button type="submit" mat-raised-button color="primary">Dodaj Sklep</button>
<!--                    <button mat-raised-button (click)="closeDialog()">Zamknij</button>-->
        </div>
      </form>
    </div>
  </div>
</div>
