<h1 mat-dialog-title>Dodaj nowy produkt</h1>

<form (ngSubmit)="addNewProductType()" #productForm="ngForm">
  <mat-label> Kategoria produktu:</mat-label>
  <br>
  <mat-form-field>
    <mat-select [(ngModel)]="productDataModel.productType" name="product-type">
      <mat-option *ngFor="let productType of productTypes" [value]="productType">{{productType.type}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <label for="product-price">Nazwa produktu:</label><br>
  <input type="text" id="product-name" name="price" [(ngModel)]="productDataModel.name"><br>

  <label for="product-price">Cena produktu:</label><br>
  <input type="text" id="product-price" name="price" [(ngModel)]="productDataModel.price"><br>


  <br><br>

  <div mat-dialog-actions>
    <button type="submit" mat-raised-button color="primary">Dodaj Produkt</button>
    <button mat-raised-button (click)="closeDialog()">Zamknij</button>
  </div>
</form>


