<div class="row" id="navigation-wrapper">
  <div class="col-sm-3" id="navigation-tab-inflation">
    <button mat-raised-button color="primary" class="cell medium-3" routerLink="/main" routerLinkActive="active">
      Inflation monitor
    </button>
  </div>

  <div class="col-sm-3" id="navigation-tab-links">
    <button mat-raised-button color="primary" class="cell medium-3" routerLink="/links" routerLinkActive="active">
      Linkownia
    </button>
  </div>

  <div class="col-sm-3" id="navigation-tab-liquor-reviews">
    <button mat-raised-button color="primary" class="cell medium-3" routerLink="/liquor-reviews"
            routerLinkActive="active">
      Recenzje alko
    </button>

  </div>

  <div class="col-sm-3" id="navigation-tab-notes">
    <button mat-raised-button color="primary" class="cell medium-3" routerLink="/notes" routerLinkActive="active">
      Wiedzoszyt
    </button>
  </div>
</div>


