<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Tag #Java #Spring</mat-card-title>
    <mat-card-subtitle>Coś tam konkretnie robienie</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      Notataka o programowaniu lorem ipsum dolor bla bla bla java c++
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-fab color="primary">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-fab color="warn">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
